body {
	width: 100vw;
	min-height: 100vh;
	font-family: 'Proxima Nova Cond';
	overflow-x: hidden;
	background: $bg;
}

ul {
	list-style-type: none;
}

a {
	position: relative;
	text-decoration: none;
	color: $black;

	&:hover {
		color: $dark-red;
	}

	// .active {
	// 	&::after {
	// 		content: '';
	// 		position: absolute;
	// 		bottom: -30px;
	// 		left: 0;
	// 		width: 100%;
	// 		height: 2px;
	// 		background: $dark-red;
	// 	}
	// }
}

h1 {
	font-weight: 600;
	font-size: 56px;
	line-height: 100%;
	color: $black;
}

button {
	width: fit-content;
	background: $red;
	color: $white;
	padding: 18px 28px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	border: none;

	&:hover {
		background: $light-red;
	}
}

.container {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	min-height: 100vh;
}

.box {
	background: $white;
	box-shadow: $box_shad;
	width: 100%;

	&__content {
		padding: 100px 110px;
	}

	&__text {
		text-align: center;
		color: $black;
		font-weight: 600;
		font-size: 32px;
		line-height: 120%;

		span {
			color: $red;
		}
	}
}

.number {
	&__row {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 80px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 80px;
		line-height: 80%;
		color: $dark-red;
		opacity: 0.95;
		margin-bottom: 4px;

		span {
			&:first-child {
				margin-right: 10px;
			}
		}
	}

	&__symbol {
		font-weight: 900;
		font-size: 64px;
		line-height: 100%;
	}

	&__desc {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: $black;
		max-width: 240px;
	}
}