body {
	width: 100vw;
	min-height: 100vh;
	font-family: 'Proxima Nova Cond';
	overflow-x: hidden;
	background: $bg;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	position: relative;
	text-decoration: none;
	color: $black;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;

	&:hover {
		color: $dark-red;
	}

	&.active {
		color: $dark-red;

		&::after {
			content: '';
			position: absolute;
			bottom: -30px;
			left: 0;
			width: 100%;
			height: 2px;
			background: $dark-red;
		}
	}
}

.title {
	font-weight: 600;
	font-size: 56px;
	line-height: 100%;
	color: $black;
	text-align: center;

	&_s {
		font-size: 40px;
		line-height: 120%;
	}

	&_red {
		color: $red;
	}
}

button {
	width: fit-content;
	width: -moz-fit-content;
	background: $red;
	color: $white;
	padding: 18px 28px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	border: none;
	cursor: pointer;

	&:hover {
		background: $light-red;
	}
}

nav {
	max-height: 20px;

	ul {
		margin: 0;
		display: flex;

		& > li {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.container {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	min-height: 100vh;
	
	& > * {
		margin-bottom: 100px;
		scroll-margin-top: 100px;
	}
}

.box {
	background: $white;
	box-shadow: $box_shad;
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__content {
		padding: 70px 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		&_quote {
			padding: 100px 110px;
		}
	}

	&__text {
		text-align: center;
		color: $black;
		font-weight: 600;
		font-size: 32px;
		line-height: 120%;

		span {
			color: $red;
		}
	}

	&__divider {
		width: calc(100% - 60px);
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		margin: 0 30px;
	}

	&__icons {
    margin-top: 50px;
    display: flex;

    & > * {
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }
    }

		&_big-gap {
			& > * {
				margin-right: 80px;

				&:last-child {
					margin-right: 0;
				}
			}

			.icon {
				width: 110px;
			}
		}
  }
}

.number {
	&__row {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;

		& > * {
			margin-right: 185px;

			&:last-child {
				margin-right: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;

			& > * {
				margin-right: 180px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__title {
		font-weight: 600;
		font-size: 80px;
		line-height: 80%;
		color: $dark-red;
		opacity: 0.95;
		margin-bottom: 4px;

		span {
			&:first-child {
				margin-right: 10px;
			}
		}
	}

	&__symbol {
		font-weight: 900;
		font-size: 64px;
		line-height: 100%;
	}

	&__desc {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: $black;
		max-width: 240px;
	}
}

.card {
	position: relative;

	&__img {
		width: 100%;
		height: 260px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		position: absolute;
		left: 0;
		bottom: 0;
		width: calc(100% - 40px);
		padding: 0 20px;
		background: rgba(45, 54, 83, 0.6);
		height: 80px;
		display: flex;
		align-items: center;

		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 100%;
			color: $white;
		}

		svg {
			display: none;
		}
	}

	&__desc {
		font-weight: 400;
		font-size: 17px;
		line-height: 140%;
		color: $white;
		display: none;
	}

	&:hover {
		.card__title {
			position: relative;
			background: transparent;
			height: fit-content;
			margin-top: 28px;
			margin-bottom: 20px;
		}

		.card__img {
			height: 100%;
			position: absolute;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				background: rgba(45, 54, 83, 0.6);
				width: 100%;
				height: 100%;
			}
		}

		.card__desc {
			position: relative;
			z-index: 1;
			display: block;
			padding: 0 20px 20px 20px;
		}
	}
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 178px;

	&__img {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.05);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		margin-top: 10px;
		font-weight: 400;
		font-size: 18px;
		line-height: 110%;
		text-align: center;
		color: $black;
	}
}

.slide {
	width: 100%;
	min-width: 100%;
	height: 834px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
	}
}

.pagination {
	display: flex;
	flex-wrap: nowrap;

	& > * {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__item {
		width: 100%;
		flex: 1;
		height: 6px;
		background: rgba(0, 0, 0, 0.1);

		&_active {
			background: $dark-red;
		}
	}
}

.dropdown {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	display: flex;
	padding: 30px 70px;
	max-width: 1110px;
	justify-content: space-between;
	background: $white;
	box-shadow: $box_shad;
	width: 100%;
	z-index: 1;

	&__col {
		display: flex;
		flex-direction: column;

		& > * {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__text {
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		white-space: nowrap;
		color: $black;

		&_head {
			font-weight: 600;
		}
	}
}

@media (max-width: 1250px) {
	.container {
		width: 100vw;
		overflow: hidden;
	}

	.number {
		&__title {
			font-size: 60px;
		}

		&__symbol {
			font-size: 50px;
		}
	}
}

@media (max-width: 420px) {
	* {
		cursor: default;
	}

	body {
		background: $white;
	}

  .container {
		margin-left: 15px;
		margin-right: 15px;
		max-width: calc(100% - 30px);

		& > * {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 50px;
			}
		}
	}

	nav {
		max-height: unset;

		ul {
			flex-wrap: wrap;

			& > li {
				margin-right: 10px;
				margin-bottom: 5px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	a {
		&.active {
			&::after {
				bottom: -24px;
			}
		}
	}

	.title {
		font-size: 28px;

		&_s {
			font-size: 22px;
		}
	}

	button {
		padding: 6.5px 25.5px;
		font-size: 16px;
		line-height: 19px;
	}

	.box {
		&__content {
			padding: 24px 0;

			&_quote {
				padding: 24px 5px;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 120%;
		}

		&__icons {
			margin-top: 40px;
			flex-wrap: wrap;

			& > * {
				margin-right: 0;
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.number {
		flex: 1 45%;
		margin-bottom: 24px;

		&:nth-child(2) {
			.number__desc {
				white-space: nowrap;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&__wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			font-size: 40px;
			line-height: 80%;

			span {
				&:first-child {
					margin-right: 4px;
				}
			}
		}
		
		&__desc {
			text-align: center;
		}

		&__symbol {
			font-size: 30px;
			line-height: 100%;
		}
	}

	.card {
		height: 60px;

		&_active {
			height: fit-content;
			height: -moz-fit-content;

			.card__title {
				position: relative;
				background: transparent;
				margin-top: 20px;
				margin-bottom: 10px;

				svg {
					transform: rotate(180deg);
				}
			}

			.card__img {
				height: 100%;
				position: absolute;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					background: rgba(45, 54, 83, 0.6);
					width: 100%;
					height: 100%;
				}
			}

			.card__desc {
				position: relative;
				z-index: 1;
				display: block;
				font-size: 16px;
				line-height: 140%;
				padding: 0 10px 20px 10px;
			}

			&:hover {
				.card__desc {
					display: block !important;
				}
			}
		}

		&__img {
			height: 60px;
		}

		&__title {
			display: flex;
			justify-content: space-between;
			height: 60px;
			padding: 0 10px;
			width: calc(100% - 20px);

			span {
				font-size: 20px;
				line-height: 100%;
				width: calc(100% - 40px);
			}

			svg {
				display: block;
				margin-right: 6px;
			}
		}

		&__desc {
			font-size: 16px;
			display: none;
		}

		&:hover {
			.card__title {
				height: 60px;
				margin-top: unset;
				margin-bottom: unset;
			}
			.card__desc {
				display: none;
				padding: 0 10px 20px 10px;
			}
		}
	}

	.icon {
		flex: 1 50%;

		&__img {
			width: 80px;
			height: 80px;

			svg {
				transform: scale(0.7);
			}
		}

		&__text {
			font-size: 16px;
			line-height: 110%;
			max-width: 140px;
		}
	}

	.slide {
		height: 210px;
	}

	.pagination {
		display: none;
	}

	.dropdown {
		padding: 20px 5px;
		max-width: calc(100% - 10px);
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 10px;

		&__col {
			&_active {
				.dropdown__text_head {
					&::after {
						transform: rotate(180deg);
					}
				}
			}

			&_disabled {
				.dropdown__text_head {
					&::after {
						display: none;
					}
				}
			}
		}

		&__text {
			display: none;
			white-space: normal;

			&_head {
				display: block;
				position: relative;
				width: fit-content;
				width: -moz-fit-content;

				&::after {
					content: '';
					position: absolute;
					width: 8px;
					height: 5px;
					background: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L7.4641 0.25H0.535898L4 4Z' fill='%23444444'/%3E%3C/svg%3E%0A") no-repeat right;
					top: calc(50% - 2.5px);
					right: -12px;
				}
			}
		}
	}
}