@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ProximaNova-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/ProximaNova-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova Cond';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaCond-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova Cond';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/ProximaNovaCond-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova Cond';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/ProximaNovaCond-Black.woff) format('woff');
}