@import 'fonts.scss';
@import 'normalize.scss';
@import 'variables.scss';
@import 'elements.scss';

.header {
  background: $white;
  box-shadow: inset 0 0 0 1px $border;
  padding: 30px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 85px;
  margin-bottom: 0;

  &__logo {
    width: 125px;
    height: 25px;
  }

  &__nav {
    &_mobile {
      display: none;
    }
  }

  &_fixed {
    position: fixed;
    width: 100vw;
    max-width: 1110px;
    left: 0;
    top: 0;
    transition: .3s opacity, visibility ease-in-out;
    z-index: 1000;
  }
}

.banner {
  background: url(/img/bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;

  &__content {
    width: 709px;
    padding-left: 70px;
    padding-right: 70px;
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    text-align: left;
  }
}

.about {
  width: 100%;
  max-width: 1110px;
  padding: 0 70px;
  
  & > * {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__numbers {
    &_mobile {
      display: none;
    }
  }
}

.map {
  position: relative;

  & > * {
    margin-bottom: 90px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__head {
    background: $white;
    box-shadow: $box_shad;
    width: 100%;
    max-width: 1110px;
    padding: 28px 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      color: $black;
    }

    svg {
      margin-left: 12px;
    }

    &_active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__nav {
    ul {
      & > li {
			  margin-right: 30px;

        a {
          &::after {
            transform: translateY(-1px);
          }
        }
      }
    }
  }

  .dropdown {
    top: 100px;
  }
}

.country {
  position: relative;
  &__container {
    width: 100%;
    max-width: 1190px;
    height: 600px;
    margin: 0 auto;
  }

  &__part {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.city {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  pointer-events: all;

  &_reverse {
    flex-direction: column-reverse;

    .city__name {
        margin-top: 0;
        margin-bottom: 2px;
    }
  }

  &__container {
    position: absolute;
  }

  &__group {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    &:nth-child(1) {
      & > * {
        &:nth-child(1) {
          transform: translate(-5px, 30px);
        }
      }
    }

    &:nth-child(2) {
      & > * {
        &:nth-child(1) {
          transform: translate(83px, 17px);
        }

        &:nth-child(2) {
          transform: translate(3px, 71px);
        }

        &:nth-child(3) {
          transform: translate(-1px, 104px);
        }
      }
    }

    &:nth-child(3) {
      & > * {
        &:nth-child(1) {
          transform: translate(67px, 114px);
        }

        &:nth-child(2) {
          transform: translate(-21px, 106px);
        }
      }
    }

    &:nth-child(4) {
      & > * {
        &:nth-child(1) {
          transform: translate(42px, 27px);
        }

        &:nth-child(2) {
          transform: translate(87px, 69px);
        }

        &:nth-child(3) {
          transform: translate(24px, 88px);
        }
      }
    }

    &:nth-child(5) {
      & > * {
        &:nth-child(1) {
          transform: translate(27px, 31px);
        }

        &:nth-child(2) {
          transform: translate(98px, 68px);
        }

        &:nth-child(3) {
          transform: translate(34px, 74px);
        }

        &:nth-child(4) {
          transform: translate(110px, 106px);
        }

        &:nth-child(5) {
          transform: translate(61px, 135px);
        }
      }
    }

    &:nth-child(6) {
      & > * {
        &:nth-child(1) {
          transform: translate(43px, 188px);
        }

        &:nth-child(2) {
          transform: translate(96px, 198px);
        }

        &:nth-child(3) {
          transform: translate(152px, 211px);
        }

        &:nth-child(4) {
          transform: translate(22px, 229px);
        }

        &:nth-child(5) {
          transform: translate(24px, 265px);
        }

        &:nth-child(6) {
          transform: translate(125px, 263px);
        }
      }
    }

    &:nth-child(7) {
      & > * {
        &:nth-child(1) {
          transform: translate(9px, 423px);
        }

        &:nth-child(2) {
          transform: translate(43px, 401px);
        }

        &:nth-child(3) {
          transform: translate(129px, 390px);
        }

        &:nth-child(4) {
          transform: translate(173px, 402px);
        }

        &:nth-child(5) {
          transform: translate(235px, 435px);
        }
      }
    }

    &:nth-child(8) {
      & > * {
        &:nth-child(1) {
          transform: translate(266px, 479px);
        }

        &:nth-child(2) {
          transform: translate(246px, 575px);
        }
      }
    }
  }

  &__point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $black;
  }

  &__name {
    color: $black;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    margin-top: 4px;
    white-space: nowrap;

    &_l {
      font-size: 14px;
    }

    &_xl {
      font-size: 16px;
    }
  }
}

.country__part, .city__group {
    &:nth-child(1) {
        transform: translate(130px, 195px);
    }

    &:nth-child(2) {
        transform: translate(73px, 175px);
    }

    &:nth-child(3) {
        transform: translate(33px, 18px);
    }

    &:nth-child(4) {
        transform: translate(0, 292px);
    }

    &:nth-child(5) {
        transform: translate(139px, 231px);
    }

    &:nth-child(6) {
        transform: translate(270px, 99px);
    }

    &:nth-child(7) {
        transform: translate(438px, 51px);
    }

    &:nth-child(8) {
        transform: translate(688px, 0px);
    }
}

.mission {
  width: 100%;
  max-width: 1110px;
  padding: 140px 70px;
  background: $dark-red;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/img/Left_pattern.svg) no-repeat;
    background-position-x: -4%;
    background-position-y: center;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/img/Right_pattern.svg) no-repeat;
    background-position-x: 104%;
    background-position-y: center;
  }

  & > * {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    color: $white;
  }

  &__desc {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: $white;
  }
}

.business-lines {
  & > * {
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    .card {
      height: 260px;
    }
  }
}

.gallery {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  &__title {
    text-align: left;
  }

  &__nav {
    margin-top: 7px;
    display: flex;

    & > * {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__prev, &__next {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: $btn;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__slides {
    width: 100%;
    max-width: 1110px;
    overflow: hidden;
    display: flex;
  }

  &__pgntn {
    margin-top: 40px;
    margin-bottom: 56px;
  }
}

@media (max-width: 1250px) {
  .header {
    &_fixed {
      max-width: calc(100vw - 140px);
    }
  }

  .about {
    max-width: calc(100vw - 140px);
  }
  
  .map {
    &__head {
      max-width: calc(100vw - 140px);
      flex-direction: column;
    }

    &__dropdown {
      margin-bottom: 20px;
    }

    &__nav {
      ul {
        & > li {
          a {
            &::after {
                transform: translateY(-3px);
            }
          }
        }
      }
    }
  }

  .country {
    &__wrapper {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      left: -15px;
      overflow-x: scroll;
    }

    &__container {
      width: 928.2px;
      position: relative;
      transform: scale(0.75) translate(-16.5%, -15%);
    }
  }
}

@media (max-width: 420px) {
  .header {
    align-items: flex-start;
    padding: 16px 5px;
    max-height: unset;

    &_fixed {
      max-width: calc(100vw - 40px);
      left: calc(50% - ((100vw - 30px) / 2));
    }

    & > * {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__nav {
      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }

      &_fixed {
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        background: $white;
        left: 0;
        top: 0;
        transition: .3s opacity, visibility ease-in-out;
        z-index: 1000;
      }
    }
  }

  .banner {
    height: 300px;

    &__content {
      padding-left: 5px;
      padding-right: 5px;
    }

    &__title {
      margin-bottom: 20px;
    }
  }

  .about {
    padding: 0;

    &__numbers {
      &_desktop {
        display: none;
      }

      &_mobile {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .map {
    max-height: 530px;

    & > * {
      margin-bottom: 8px;
    }

    &__head {
      padding: 18px 5px 0 5px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav {
      width: calc(100vw - 30px);
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin-left: -5px;
      padding-left: 5px;

      &::-webkit-scrollbar {
        display: none;
      }

      ul {
        flex-wrap: nowrap;
        a {
          white-space: nowrap;
          height: 40px;
          display: block;

          &.active {
            &::after {
              bottom: -6px;
            }
          }
        }
      }
    }

    &__dropdown {
      margin-bottom: 20px;
      svg {
        margin-left: 6px;
        
        path {
          stroke-width: 2;
        }
      }
    }

    .dropdown {
      top: 45px;
      box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.08);
    }
  }

  .country {
    &__container {
      width: calc(1190px * 0.78);
      position: relative;
      transform: scale(0.75) translate(calc(-100% * 0.165), calc(-100% * 0.15));
    }

    &__wrapper {
      width: 100vw;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      left: -15px;
      overflow-x: scroll;
    }
  }

  .city__point, .city__name {
    transform: scale(1.333);
  }

  .mission {
    padding: 32px 5px;
    max-width: calc(100% - 10px);

    &__title {
      margin-bottom: 10px;
    }

    &__desc {
      font-size: 16px;
      line-height: 130%;

      br {
        display: none;
      }
    }

    &::after {
      background-position-x: 124%;
      background-size: 150px;
    }
    
    &::before {
      background-position-x: -24%;
      background-size: 150px;
    }
  }

  .business-lines {
    &__title {
      margin-bottom: 15px;
    }

    &__cards {
      grid-template-columns: 1fr;

      .card {
        height: unset;
      }
    }
  }

  .gallery {
    position: relative;

		&__prev {
			position: absolute;
			left: 4px;
			top: calc(65px + (50% - 36px));
      width: 36px;
      height: 36px;
      opacity: 0.6;
      
      svg {
        transform: scale(0.75);
      }
		}

		&__next {
			position: absolute;
			right: 4px;
			top: calc(65px + (50% - 36px));
      width: 36px;
      height: 36px;
      opacity: 0.6;

      svg {
        transform: scale(0.75);
      }
		}
  }
}