// Colors
$border: #D9D9D9;
$btn: #f0f0f0;
$bg: #f5f5f5;
$white: #fff;
$black: #444;
$dark-red: #A30C33;
$red: #B01736;
$light-red: #D53152;

// Shadows
$box_shad: 0px 0px 32px rgba(0, 0, 0, 0.08);